Header {
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    background-color: rgb(81, 83, 112);
}

.search {
    background-color: #f1f1f1;
    height: 100%;
}

.row.content {
    height: 550px;
}

input[type=text],.search-container button {
    float: none;
    display: inline;
    text-align: left;
}

input[type=text] {
    border: 1px solid #ccc;  
}

.forecast-day {
    background-color: blue;
    margin: 5px;
    color: white;
    padding: 2px;
}

#main {
    background-color: #fff;
    border: 2px solid;
    margin: 5px;
    padding: 5px;
}

.new-search {
    background-color: #fff;
    border: 2px solid;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.green {
    background-color: green;
    padding: 5px
}

.yellow {
    background-color: yellow;
    padding: 5px
}

.red {
    background-color: red;
    padding: 5px
}